body
 padding: 5px
 font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
 background-color: #000000
 color: #ffffff
a
  text-decoration none
td
  padding: 0.3em
  vertical-align top
.bordered
  border: 1px #ccc solid
table
  margin: 1em
.maintable
  width 100%
.um
 color #008000
 font-weight bold
.uh
 color #808000
 font-weight bold
.ud
 color #800000
 font-weight bold
.ALIENS
 color #00FF54
 font-weight bold
.ENLIGHTENED
 color #00FF54
 font-weight bold
.RESISTANCE
 color #257FFB
 font-weight bold
.NEUTRAL
 color #CCCCCC
 font-weight bold
.rC
 color #FF0070
 font-weight bold
.rR
 color #D002C9
 font-weight bold
.rV
 color #8301FF
 font-weight bold
.l1
 color #F2FF2C
 font-weight bold
.l2
 color #FF713F
 font-weight bold
.l3
 color #F84200
 font-weight bold
.l4
 color #F80000
 font-weight bold
.l5
 color #FF0070
 font-weight bold
.l6
 color #D002C9
 font-weight bold
.l7
 color #760072
 font-weight bold
.l8
 color #8301FF
 font-weight bold
H1
 color: #fdfdfd
.tableTitle
 font-weight: bold;
 text-align: center;
H2
 text-align: center;
.nav-bar
 list-style-type none
 margin 0
 padding 0
 background-color #005500
.nav-item
 display inline
 width 25%
.nav-item:hover
 background-color:#000000;
.nav-link
 width 220px
.present
 background-color #00AA00
 font-size: 1px
 border none
.notpresent
 font-size: 1px
 background-color #AA0000
 border none
.timescape
 border-collapse:collapse
 border none
 cellspacing 0
 width 100%
 height 10px
.borderless
 border none
 cellspacing 0
.heatmap
 height 500px
 width 500px