!!!
html(ng-app="myApp")
 head
  meta(charset='utf8')
  base(href='/')
  title Ingress Stats
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.css')
 body
  table.borderless(ng-controller='HeaderCtrl')
   tr.borderless
    td.borderless
     ul
      li(ng-repeat='area in areas',ng-click='selectArea(area)')
       span(ng-click='deleteArea(area)') X 
       span {{area.name}}
       span(ng-show='area.selected')<
    td.borderless
     h1 Ingress Stats
     div
      div.header
       ul.nav-bar
        li.nav-item
         a.ALIENS.nav-link(href="/")
          span Portals  
        li.nav-item
         a.ALIENS.nav-link(href="/playerlist")
          span Players 
        //li.nav-item
        // a.ALIENS.nav-link(href="/portallist")
        //  span Portal List 
        //li.nav-item
        // a.ALIENS.nav-link(href="/heatmap")
        //  span Heatmap 
       div
        span Add Area (1E6 lat,long)
        input(type="text",ng-model="areaname")
        span from
        input(type="text",ng-model="latlong1")
        span to
        input(type="text",ng-model="latlong2")
        input(type="button",value="Add",ng-click="update()")
     div.content
      div(ng-view)
     div.footer
 script(src='js/lib/angular/angular.js')
 script(src='js/lib/angular/angular-cookies.js')
 script(src='http://cdn.leafletjs.com/leaflet-0.4.4/leaflet-src.js')
 script(src='js/lib/heatmap/heatmap.js')
 script(src='js/lib/heatmap/heatmap-leaflet.js')
 
 script(src='js/app.js')
 script(src='js/controllers.js')