h2
 span(class="l{{player.level}}") L{{player.level}} 
 span(class="{{player.team}}") {{player.name}}
br
#heatmapArea.heatmap
table
   tbody
    tr(ng-repeat='plext in plexts')
     td
      {{plext.time}}
     td
      {{plext.action}} {{plext.type}}
     td
      a(href="/portal/{{plext.portalid}}")
       {{plext.portalname}}