h2 Portal List (avg stale {{averageTime}}h {{portalsPerHour}}pph)
br
div
 input(type="text",ng-model="levelValue")
 input(type="text",ng-model="linkValue")
 input(type="text",ng-model="fieldValue")
 input(type="text",ng-model="dayValue")
br
div
 span.RESISTANCE Resistance({{resistance.portals}})
 span.ENLIGHTENED Enlightened({{enlightened.portals}})
 span.NEUTRAL Neutral({{neutral.portals}})
table.bordered
     thead
      th link
      th(ng-click="sortByLastSeen()") updated
      th(ng-click="sortByResonators()") resonators
      th mods
      th(ng-click="sortByLinks()") links({{resistanceLinks}})
      th(ng-click="sortByFields()") fields({{resistanceFields}})
      th(ng-click="sortByLevel()") level
      th name
      th(ng-click="sortByDays()") days
      th(ng-click="sortByAP()") AP
      th(ng-click="sortByPS()") PS
     tbody
      tr(ng-repeat='portal in portals | startFrom:currentPage*pageSize | limitTo:pageSize')
        td
         a(href="https://www.ingress.com/intel?ll={{portal.lat}},{{portal.lng}}&z=17") link
        td
         span(class="u{{portal.suffix}}"){{portal.lastSeen}}{{portal.suffix}}
        td
         span(ng-repeat="resonator in portal.resonators",class="l{{resonator}}"){{resonator}}
        td
         span(ng-repeat="mod in portal.mods",class="r{{mod.rarity}}"){{mod.type}}
        td
         {{portal.links}}
        td
         {{portal.fields}}
        td(class="l{{portal.level}}")
         {{portal.level}}
        td
         a(href="/portal/{{portal.id}}")
          span(class="{{portal.team}}") {{portal.name}}
        td
         span {{portal.days}}
        td
         span {{portal.ap}}
        td
         span {{portal.ps}}
div
 button(ng-disabled="currentPage == 0",ng-click="currentPage=0") First
 button(ng-disabled="currentPage == 0",ng-click="currentPage=currentPage-1") Prev
 span {{currentPage+1}}/{{numberOfPages()}}
 button(ng-disabled="currentPage >= portals.length/pageSize - 1",ng-click="currentPage=currentPage+1") Next
 button(ng-disabled="currentPage >= portals.length/pageSize - 1",ng-click="currentPage=numberOfPages()-1") Last