h2
 span(class="l{{portal.level}}") L{{portal.level}} 
 span(class="{{portal.team}}") {{portal.name}}
br
table
   tbody
    tr(ng-repeat='plext in plexts')
     td
      {{plext.time}}
     td
      {{plext.action}} {{plext.type}}
     td
      a(href="/player/{{plext.playerid}}")
       {{plext.name}}