body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #000;
  color: #ffffff;
}
a {
  color: #00b7fd;
  text-decoration: none;
}
td {
  padding: 0.1em;
  margin: 0;
  border-style: none;
  vertical-align: top;
}
table {
  margin: 1em;
  border-style: none;
}
.maintable {
  width: 100%;
}
.maincell {
  border-style: solid;
  border: 1px #cccccc solid;
  vertical-align: top;
}
.rightalign {
	float: right;
}
.leftalign {
	float: left;
}
.ALIENS {
  color: #00ff54;
  font-weight: bold;
}
.ENLIGHTENED {
  color: #00ff54;
  font-weight: bold;
}
.RESISTANCE {
  color: #257ffb;
  font-weight: bold;
}
.NEUTRAL {
  color: #cccccc;
  font-weight: bold;
}
.WALKING {
  color: #1F14F5;
  font-weight: bold;
}
.RUNNING {
  color: #14F517;
  font-weight: bold;
}
.BIKING {
  color: #EDF514;
  font-weight: bold;
}
.CAR {
  color: #F5BC14;
  font-weight: bold;
}
.CHEAT {
  color: #FF0000;
  font-weight: bold;
}
.NODATA {
  color: #CCCCCC;
  font-weight: bold;
}
.l1 {
  color: #f2ff2c;
  font-weight: bold;
}
.l2 {
  color: #ff713f;
  font-weight: bold;
}
.l3 {
  color: #f84200;
  font-weight: bold;
}
.l4 {
  color: #f80000;
  font-weight: bold;
}
.l5 {
  color: #ff0070;
  font-weight: bold;
}
.l6 {
  color: #d002c9;
  font-weight: bold;
}
.l7 {
  color: #760072;
  font-weight: bold;
}
.l8 {
  color: #8301ff;
  font-weight: bold;
}
H1 {
  color: #fdfdfd;
}
.tableTitle {
  font-weight: bold;
  text-align: center;
}
H2 {
  text-align: center;
}
.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #005500;
}
.nav-item {
  display: inline;
}
.nav-item:hover {
  background-color: #000000;
}
.back:hover {
  background-color: #004400;
}
.click:hover {
  background-color: #004400;
}
.click {
  color: #ffffff;
}
.CMOD {
  color: #f2ff2c;
  font-weight: bold;
}
.RMOD {
  color: #ff0070;
  font-weight: bold;
}
.VMOD {
  color: #8301ff;
  font-weight: bold;
}
.nav-link {
  width: 220px;
}
.present {
  background-color: #00aa00;
  font-size: 1px;
  border: none;
}
.notpresent {
  font-size: 1px;
  background-color: #aa0000;
  border: none;
}
.timescape {
  border-collapse: collapse;
  border: none;
  cellspacing: 0;
  width: 100%;
  height: 10px;
}
.heatmap {
  height: 300px;
  width: 300px;
}