<div>Sort by: <span ng-click="sortByAP()" class="back">AP</span> <span class="back" ng-click="sortByLevel()">Level</span> <span class="back" ng-click="sortByCaptured()">Captured</span> <span class="back" ng-click="sortByCustom()">Custom</span>
<table class="maintable">
 <tr>
  <td class="maincell">
   <div class="tableTitle">Enlightened ({{acount}})</div>
    <table>
     <tr class="{{portal.team}}" ng-repeat="portal in aliens">
	  <td><span ng-click="gotolatlng(portal.lat,portal.lng)" class="click">Zoom</span></td>
      <td><span ng-show="portal.stale">{{portal.lastSeen}} h</span></td>
	  <td><span class="l{{portal.level}}">({{portal.level}}-{{portal.resoCount}}R{{portal.links}}L{{portal.fieldsNum}}F)</span></td>
	  <td><span class="{{mod.rarity}}MOD" ng-repeat="mod in portal.mods">{{mod.type}}</span></td>
      <td><span ng-click="loadPortal(portal.id)" class="back">{{portal.name}}</span></td>
	  <td>{{portal.captured}} Days</td>
	  <td>{{portal.ap}} AP</td>
	  <td>{{portal.score}} PS</td>
     </tr>
	</table>
  </td>
  
  <td class="maincell">
   <div class="tableTitle">Resistance ({{rcount}})</div>
    <table>
     <tr class="{{portal.team}}" ng-repeat="portal in resistance">
	  <td><span ng-click="gotolatlng(portal.lat,portal.lng)" class="click">Zoom</span></td>
      <td><span ng-show="portal.stale">{{portal.lastSeen}} h</span></td>
	  <td><span class="l{{portal.level}}">({{portal.level}}-{{portal.resoCount}}R{{portal.links}}L{{portal.fieldsNum}}F)</span></td>
	  <td><span class="{{mod.rarity}}MOD" ng-repeat="mod in portal.mods">{{mod.type}}</span></td>
      <td><span ng-click="loadPortal(portal.id)" class="back">{{portal.name}}</span></td>
	  <td>{{portal.captured}} Days</td>
	  <td>{{portal.ap}} AP</td>
	  <td>{{portal.score}} PS</td>
     </tr>
	</table>
  </td>
  
  <td class="maincell">
   <div class="tableTitle">Unknown ({{ucount}})</div>
    <table>
     <tr class="{{portal.team}}" ng-repeat="portal in unknown">
	  <td><span ng-click="gotolatlng(portal.lat,portal.lng)" class="click">Zoom</span></td>
      <td><span ng-show="portal.stale">{{portal.lastSeen}} h</span></td>
      <td><span ng-click="loadPortal(portal.id)" class="back">{{portal.name}}</span></td>
	  <td>{{portal.ap}} AP</td>
	  <td>{{portal.score}} PS</td>
     </tr>
	</table>
  </td>
 </tr>
</table>