<table>
 <thead>
  <tr><th class="tableTitle">Level</th><th class="tableTitle">Enlightened</th><th class="tableTitle">Resistance</th>
 </thead>
 <tbody>
  <tr ng-repeat="stat in stats"><td class="l{{stat.count}}">{{stat.count}}</td><td class="ALIENS">{{stat.e}}</td><td class="RESISTANCE">{{stat.r}}</td></tr>
 </tbody>
</table>
<table>
 <tr>
  <td>
   <div class="tableTitle">Enlightened ({{acount}})</div>
    <div ng-repeat="player in aliens" class="back {{player.team}}" ng-click="loadPlayer(player.id)">
     <span class="l{{player.level}}"> ({{player.level}}) </span><span ng-show="player.names">*</span>
     <span> {{player.name}}</span>
    </div>
  </td>
  
  <td>
   <div class="tableTitle">Resistance ({{rcount}})</div>
    <div ng-repeat="player in resistance" class="back {{player.team}}" ng-click="loadPlayer(player.id)">
     <span class="l{{player.level}}"> ({{player.level}}) </span><span ng-show="player.names">*</span>
     <span> {{player.name}}</span>
    </div>
  </td>
  
  <td>
   <div class="tableTitle">Unknown ({{ucount}})</div>
    <div ng-repeat="player in unknown" class="back {{player.team}}" ng-click="loadPlayer(player.id)">
     <span class="l{{player.level}}"> ({{player.level}})</span>
     <span> {{player.name}}</span>
    </div>
  </td>
 </tr>
</table>