<div>
 <span ng-show="showFind()" ng-click="loadPortal(player.portalid)" class="click">Find </span>
 <span class="l{{player.level}}"> L{{player.level}} </span>
 <span class="{{player.team}}"> {{player.name}}</span>
 <span ng-repeat="alias in player.names" > {{alias}}</span>
 <span> {{player.id}} </span>
</div>
<div><div id="heatmapArea" class="heatmap"/></div>
<table>
   <tbody>
    <tr ng-repeat='plext in plexts'>
     <td>
      {{plext.date}}
     </td>
     <td>
      {{plext.action}} {{plext.type}}
     </td>
     <td class="back" ng-click="loadPortal(plext.portalid1)">
       {{plext.portalname1}}
     </td>
     <td class="back" ng-click="loadPortal(plext.portalid2)">
       {{plext.portalname2}}
     </td>
     <!--<td>
       {{plext.plat}} to {{plext.lat}} lat
     </td>
     <td>
       {{plext.plng}} to {{plext.lng}} lng
     </td>-->
     <td>
       +{{plext.hours}} hours
     </td>
     <td>
       {{plext.distance}} km
     </td>
     <td class="{{plext.speedstyle}}">
       {{plext.speed}} km/hr
     </td>
    </tr>
   </tbody>
  </table>