<table>
 <tr>
  <td>
   <div class="tableTitle">Enlightened ({{acount}})</div>
    <div class="{{portal.team}}" ng-repeat="portal in aliens">
     <span ng-click="gotolatlng(portal.lat,portal.lng)" class="click">Zoom</span>
     <span class="l{{portal.level}}"> ({{portal.level}}-{{portal.resoCount}}R{{portal.links}}L{{portal.fieldsNum}}F)</span>
     <span ng-click="loadPortal(portal.id)" class="back"> {{portal.name}} </span>
	 <span ng-show="portal.stale"> STALE </span> {{portal.plexts.length}}
    </div>
  </td>
  
  <td>
   <div class="tableTitle">Resistance ({{rcount}})</div>
    <div ng-repeat="portal in resistance" class="{{portal.team}}">
     <span ng-click="gotolatlng(portal.lat,portal.lng)" class="click">Zoom</span>
     <span class="l{{portal.level}}"> ({{portal.level}}-{{portal.resoCount}}R{{portal.links}}L{{portal.fieldsNum}}F)</span>
     <span ng-click="loadPortal(portal.id)" class="back"> {{portal.name}} </span>
	 <span ng-show="portal.stale"> STALE </span>
	 <span ng-repeat="mod in portal.mods">{{mod.type}]</span>
    </div>
  </td>
  
  <td>
   <div class="tableTitle">Unknown ({{ucount}})</div>
    <div ng-repeat="portal in unknown" class="{{portal.team}}">
     <span class="l{{portal.level}}"> ({{portal.level}})</span>
     <span> {{portal.name}} </span>
	 <span ng-show="portal.stale"> STALE </span>
    </div>
  </td>
 </tr>
</table>