<html ng-csp>
<head>
	<script src="angular.js"></script>
	<script src="panel.js"></script>
	<link rel='stylesheet' href='style.css'>
</head>
<body>
<div class="header" ng-controller="HeaderCtrl">
	<div>Node ID: <input type="text" ng-model ="nodeid" ></input></div>
	<div>Seconds per scan: <input type="text" ng-model ="scantime" ></input></div>
    <input type="button" ng-click="start()" value="START"></input>
    <input type="button" ng-click="stop()" value="STOP"></input>
	<div class="logbox" id="logbox">
		<div ng-repeat="text in log">{{text}}</div>
	</div>
</div>
</body>
</html>