body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #000;
  color: #fff;
}
a {
  text-decoration: none;
}
td {
  padding: 0.3em;
  border: 1px #ccc solid;
  vertical-align: top;
}
table {
  margin: 1em;
  width: 100%;
}
.ALIENS {
  color: #00ff54;
  font-weight: bold;
}
.RESISTANCE {
  color: #257ffb;
  font-weight: bold;
}
.NEUTRAL {
  color: #ccc;
  font-weight: bold;
}
.l1 {
  color: #f2ff2c;
  font-weight: bold;
}
.l2 {
  color: #ff713f;
  font-weight: bold;
}
.l3 {
  color: #f84200;
  font-weight: bold;
}
.l4 {
  color: #f80000;
  font-weight: bold;
}
.l5 {
  color: #ff0070;
  font-weight: bold;
}
.l6 {
  color: #d002c9;
  font-weight: bold;
}
.l7 {
  color: #760072;
  font-weight: bold;
}
.l8 {
  color: #8301ff;
  font-weight: bold;
}
H1 {
  color: #fdfdfd;
}
.tableTitle {
  font-weight: bold;
  text-align: center;
}
H2 {
  text-align: center;
}
.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #050;
}
.nav-item {
  display: inline;
  width: 25%;
}
.nav-item:hover {
  background-color: #000;
}
.nav-link {
  width: 220px;
}
.present {
  background-color: #0a0;
  font-size: 1px;
  border: none;
}
.notpresent {
  font-size: 1px;
  background-color: #a00;
  border: none;
}
.timescape {
  border-collapse: collapse;
  border: none;
  cellspacing: 0;
  width: 100%;
  height: 10px;
}
.borderless {
  border: none;
  cellspacing: 0;
}
.heatmap {
  height: 500px;
  width: 500px;
}
